USE [KudvenkatDB]
GO
/****** Object:  Table [dbo].[tblPerson]    Script Date: 9/9/2025 12:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPerson](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[GenderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPerson]  WITH CHECK ADD  CONSTRAINT [tblPerson_GenderID_FK] FOREIGN KEY([GenderId])
REFERENCES [dbo].[tblGender] ([ID])
GO
ALTER TABLE [dbo].[tblPerson] CHECK CONSTRAINT [tblPerson_GenderID_FK]
GO
